<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码 - 51同城</title>
    <link href="{{ url_for('static', filename='home/css/mr-01.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="mr-mainbody" class="container mr-mainbody">
        <div class="row">
            <div id="mr-content" class="mr-content col-xs-12">
				<div class="login-wrap" style="margin-bottom: 60px; margin-top: 50px">
                    <a href="index.html" title="点击返回首页">
                        <img src="{{ url_for('static', filename='home/images/51logo.png') }}" alt="">
                    </a>
                </div>
                <div class="login">
                    <div class="page-header" style="pause: 0px;">
                        <h1 class="login_h1">修改密码</h1>
                    </div>
                    {% for msg in get_flashed_messages(category_filter=['err']) %}
                        <div style="color: red; text-align: center; font-size: 16px;">
                        {{ msg }}
                        </div>
                    {% endfor %}
                    <form action="" method="post" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    {{ form.old_password.label }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.old_password }}
                                    {% for error in form.old_password.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    {{ form.password.label }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.password }}
                                    {% for error in form.password.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 control-label">
                                    {{ form.repassword.label }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form.repassword }}
                                    {% for error in form.repassword.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    {{ form.csrf_token }}
                                    {{ form.submit }}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>